{{#each this}}
<li class="country-list__item">
        <img class="country-list__flag" src="{{flags.svg}}" alt="{{name.common}}">
        <p class="country-list__name">{{name.common}}</p>
    </li>
{{/each}}